

section#category-bar{
  display: flex;
  flex-direction: column;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

#menu-category-navbar {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  li{
    display: inline;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    a{
      color: #000;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

#nav-contain{
  display: flex;
  flex-direction: column;
}
ul#site-header-cart {
  transition: 0.5s;
    width: 150px;
    &:hover{
      width: 220px;
    }
    li a span{
      color: #000;
    }
    .cart-contents {
        padding: 0;
    }
}

li.menu-item-has-children {
  z-index: 1;
    position: relative;
    top: 0px;
    &:hover{
      // top: 5px;
      position: relative;
      top: 70%;
      display: block;
      // bottom: -12px;
      display: flex!important;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
}

li.menu-item-has-children ul{
  display: none;
}

li.menu-item-has-children:hover ul {
    display: block;
    position: absolute;
    background: #eeeeee;
    top: 30px;
    border-radius: 3px;
    padding: 7px 10px;
    left: -7px;
}

@media(max-width:991px){
  section#category-bar nav {
    width: 100%;
    justify-content: flex-end;
  }
  section#category-bar {
    justify-content: flex-end;
  }

  li.menu-item-has-children {
    position: relative;
    top: 70%;
    display: block;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  li.menu-item-has-children:hover{
    background: #ffffff0a;
    width: 100%;
  }
  li.menu-item-has-children:hover ul{
    position: relative;
    background: #1c1c1c00;
    top: 0px;
    padding: 7px 10px;
    left: -7px;
    border-bottom: 1px solid #959595;
  }

  .nav-box {
    display: flex;
    justify-content: center;
  }

  #menu-category-navbar {
    display: flex;
    flex-direction: column;
  }

}
