

section#category-bar{
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

ul#menu-category-navbar {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  li{
    display: inline;
    padding: 0px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    a{
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

#nav-contain{
  display: flex;
  flex-direction: column;
}
ul#site-header-cart {
  transition: 0.5s;
    width: 150px;
    &:hover{
      width: 400px;
    }
    li a span{
      color: #fff;
    }
    .cart-contents {
        padding: 0;
    }
}

li.menu-item-has-children {
    position: relative;
    top: 0px;
    &:hover{
      // top: 5px;
      position: relative;
      top: 70%;
      display: block;
      // bottom: -12px;
      display: flex!important;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
}

li.menu-item-has-children ul{
  display: none;
}

li.menu-item-has-children:hover ul {
    display: block;
    position: absolute;
    background: #2c2c2c;
    top: 30px;
    border-radius: 3px;
    padding: 7px 10px;
    left: -7px;
}


@media(max-width:991px){
  #menu-category-navbar{
    display: flex;
    flex-direction: column;
  }
  section#category-bar nav {
    width: 100%;
    justify-content: flex-end;
  }
  section#category-bar {
    justify-content: flex-end;
  }
}
